* {
  box-sizing: border-box;
}

html {
  height: 100vh;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: open sans;
  background-color:rgb(122, 174, 196);
}

article{
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:flex-start;
  width: 25em;
  height: 35em;
  max-width: 25em;
  min-width: 15em;
  max-height: 40em;
  min-height: 25em;
  border-radius: 1rem;
  background-image:url(/assets/piano-actergrond.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  box-shadow: 0 0 20px 20px rgba(0,0,0,.1);
  transition: .25s;
  
}


header {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: flex-end;
  margin-top: 0em; */
}

h1 {
  margin: 2rem 0 1rem;
  /* padding-top: 12em; */
  color: rgb(24, 125, 188);  /*mijn naam */

}
/* h2{
  margin: 3rem 0 1rem;
  color: #fff;
} */
/* .card{
  height: 100%;
  width:100%;
  transition:transform 1500ms;
  position: absolute;
  transform-style: preserve-3d;
 
} */
/* 
.front{
    background-image:url(/assets/piano-actergrond.jpg);
} */

/* .front,.back {
  background-position: center;
  position: absolute;
  backface-visibility: hidden;

} */

/* .back{
  background-color: aqua;
  transform: rotateY('180deg');

} */

article:hover{
  transform: rotateY(180deg);
 
} 


img {
  position: relative;
  top: 2rem;
  width: 10em;
  height: auto;
  border: 5px solid #fff; /* chgdhtdr*/
  /* border-radius: 10em; */
  box-shadow: 0 0 2px 2px rgba(0,0,0,.2);
  transition: .25s .15s;
}
.blackBox{

  width: 25em;
  height: 12em; 
  max-width: 25em;
  max-height: 20em;
  margin-top: 240px;
  position: absolute;
  top: 5em;
  left:-0.01em;
  background-color: rgb(0, 0, 0);

}



p { 
  margin: 0;
  color: #fff;
}


/* Hieronder komen alle streeps die boven de piano hangen  */
#streep-paars1{
  border-radius: 15px;
  background: #7340DF; 
  width: 62px;
  height: 8px;
  transform: rotate(-90.524deg);
  position: absolute;
  left:3em;   
  top:8.8em;
  
  }

/* paarse naast de gele (links) */
#streep-paars2{
    border-radius: 10px;
    background: #7340DF; 
    width: 62px;
    height: 8px;
    transform: rotate(-90.524deg);
    position: relative;
    left:297px; 
    top: 75px;
}



#streep-blauw1{
  border-radius: 15px;
  background: #4D40DF; 
  width: 5em;
  height: 0.6em;
  transform: rotate(-90.524deg); 
  position: absolute;
  left:1em; 
  top: 8.2em ;
  
  }
/* gele links*/
  #streep-geel1{
    border-radius: 15px;
    background: #ffff00; 
    width: 50px;
    height: 8px;
    transform: rotate(-90.524deg); 
    position: relative;
    left:314px; 
    top: 120px;
    }

  #streep-rood1{
  border-radius: 15px;
  background: #ff0404; 
  width: 35px;
  height: 9px;
  transform: rotate(-91.524deg);  
  position: relative;
  left:163px;
  top: 120px;

  }

  #streep-rood2{
  border-radius: 15px;
  background: #ff0404; 
  width: 62px;
  height: 8px;
  transform: rotate(-91.524deg);  
  position: relative;
  left:350px;  
  top:105px
  
  }
  
  #streep-rose1{
  border-radius: 15px;
  background: #DC75F5; 
  width: 66px;
  height: 8px;
  transform: rotate(-90.524deg);  
  position: relative;
  left:35px;  
  top: 99px;
  
  }
  
  #streep-groen1{
    border-radius: 15px;
    background: #43DF40; 
    width: 30px;
    height: 8px;
    transform: rotate(-90.524deg); 
    position: relative;
    left:260px; 
    top: 100px;
  }
  #streep-donker-rose1{
  border-radius: 15px;  
  background: #DF40A0;
  width: 75px;
  height: 8px;
  transform: rotate(-90.524deg); 
  position: relative;
  left:90px;
  top: 75px;
  }
  #streep-donker-rose2{
    border-radius: 10px;  
    background: #DF40A0;
    width: 55px;
    height: 8px;
    transform: rotate(-90.524deg); 
    position: relative;
    left:200px;
    top: 60px;
    
  

    
  }
  #streep-lichtblauw1{
    border-radius: 10px;
    background: #58ACDB;
    width: 62px;
    height: 8px;
    transform: rotate(-90.524deg); 
    position: relative;
    left:159px;
    top:62px;
    
    

  }
  #streep-oranje1{
    border-radius: 15px;
    background: #EDA231;
    width: 40px;
    height: 8px;
    transform: rotate(-90.524deg); 
    position: absolute;
    left:224px;
    top: 143px;
  }