* {
  box-sizing: border-box;
}

html {
  height: 100vh;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: open sans;
  background-color:rgb(122, 174, 196);
}

article{
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:flex-start;
  /* width: 25em;
  height: 35em;
  max-width: 25em;
  min-width: 15em;
  max-height: 40em;
  min-height: 25em; */
  border-radius: 1rem;
  background-image:url(/assets/piano-actergrond.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  box-shadow: 0 0 20px 20px rgba(0,0,0,.1);

  
}


header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: flex-end;
  margin-top: 17em;
}

h1 {
  position: absolute;
  top:10em;
  color: rgb(29, 115, 168);  /*mijn naam */


}
h2{
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  top: 3em;
  left:2em;
}
h3{
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  top: 10em;
  left:3em;
}

img {
  position: absolute;
  top: 2em;
  width: 10em;
  height: auto;
  border: 3px solid #fff; /* chgdhtdr*/
  border-radius: 1em;
  margin-bottom: 3em;
}
.blackBox{

  width: 25em;
  height: 12em; 
  max-width: 25em;
  max-height: 20em;
  margin-top: 15em;
  position: absolute;
  top: 5em;
  left:-0.01em;
  background-color: rgb(0, 0, 0);

}

article:hover{
  /* flip als je er overheen hovert  */
  transform: rotateY('180deg'); 
}




.card-container {
  perspective: 1000px;
  width: 400px;
  height: 600px;
}

.card-container .card {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.card-container:hover >.card {
  transition: transform 1s;
  transform-style: preserve-3d;
  transform: rotateY(180deg);
}

.front, .back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.front {
  background-image: url(/assets/piano-actergrond.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.1);
}

.back {
  background-color: #000000;
  color: rgb(255, 255, 255);
  transform: rotateY(180deg); 
}

  


p { 
  position:absolute;
  top:17.5em;
  color: #fff;
}
.mail{
  color: #8da5b3;
  position: absolute;
  left: 6em;
  top:8em;
  scale:3;


}
.github{
  position: absolute;
  left: 8em;
  top:11em;


}
a:link{
  text-decoration: none;
}

.github{
  color: #cce0eb;
  position: absolute;
  left: 15em;
  top: 2em;

}
/* .button{
  position:absolute;
  top:320px;
  padding: 15px 25px;
  font-size: 20px;
  text-align: center; 
  outline: none;
  color: #000000;
  background-color: #989d9b;
  border: none;
  border-radius: 15px;
  box-shadow:0 9px #e0e0e0;
} */


/* Hieronder komen alle streeps die boven de piano hangen  */
#streep-paars1{
  border-radius: 15px;
  background: #7a1eb4; 
  width: 50px;
  height: 8px;
  transform: rotate(-90.524deg);
  position: absolute;
  left:3.5em;   
  top:10.2em;
  
  }

/* paarse naast de gele (links) */
#streep-paars2{
    border-radius: 10px;
    background: #8518bf; 
    width: 37px;  
    height: 8px;
    transform: rotate(-90.524deg);
    position: relative;
    left:15.5em; 
    top: 7.4em;
}



#streep-blauw1{
  border-radius: 15px;
  background: #4D40DF; 
  width: 5em;
  height: 0.6em;
  transform: rotate(-90.524deg); 
  position: absolute;
  left:17.4em; 
  top: 9.3em;
  
  }
  #streep-blauw2{
    border-radius: 15px;
    background: #4D40DF; 
    width: 3.3em;
    height: 0.5em;
    transform: rotate(-90.524deg); 
    position: absolute;
    left:1.5em; 
    top: 10.2em;
    
    }


/* gele links*/
  #streep-geel1{
    border-radius: 15px;
    background: #ffff00; 
    width: 50px;
    height: 8px;
    transform: rotate(-90.524deg); 
    position: relative;
    left:19em; 
    top: 10.2em;
    }

  #streep-rood1{
  border-radius: 15px;
  background: #e82626; 
  width: 35px;
  height: 9px;
  transform: rotate(-91.524deg);  
  position: relative;
  left:8.6em;
  top: 10.1em;

  }

  #streep-rood2{
  border-radius: 15px;
  background: #ee2e2e; 
  width: 62px;
  height: 8px;
  transform: rotate(-91.524deg);  
  position: relative;
  left:22.1em;  
  top:8.8em;
  
  }
  
  #streep-rose1{
  border-radius: 15px;
  background: #DC75F5; 
  width: 66px;
  height: 9px;
  transform: rotate(-90.524deg);  
  position: relative;
  left:4.3em;  
  top: 8.2em;
  
  }
  #streep-rose2{
    border-radius: 15px;
    background: #DC75F5; 
    width: 66px;
    height: 9px;
    transform: rotate(-90.524deg);  
    position: relative;
    left:13.8em;  
    top: 5em;
    
    }
  
  #streep-groen1{
    border-radius: 15px;
    background: #43DF40; 
    width: 40px;
    height: 8px;
    transform: rotate(-90.524deg); 
    position: relative;
    left:10.6em; 
    top: 8.3em;
  }
  #streep-donker-rose1{
  border-radius: 15px;  
  background: #DF40A0;
  width: 75px;
  height: 9px;
  transform: rotate(-90.524deg); 
  position: relative;
  left:6.4em;
  top: 6.7em;
  }
  #streep-donker-rose2{
    border-radius: 10px;  
    background: #DF40A0;
    width: 55px;
    height: 9.5px;
    transform: rotate(-90.524deg); 
    position: relative;
    left:10.8em;
    top: 5.8em;
    
  

    
  }
  #streep-lichtblauw1{
    border-radius: 10px;
    background: #58ACDB;
    width: 62px;
    height: 8px;
    transform: rotate(-90.524deg); 
    position: relative;
    left:6em;
    top:6.1em;
    
    

  }
  #streep-oranje1{
    border-radius: 15px;
    background: #EDA231;
    width: 40px;
    height: 9.5px;
    transform: rotate(-90.524deg); 
    position: absolute;
    left:13.3em;
    top: 10.5em;
  }
  #streep-oranje2{
    border-radius: 15px;
    background: #EDA231;
    width: 40px;
    height: 8px;
    transform: rotate(-90.524deg); 
    position: absolute;
    left:1em;
    top: 10.5em;
  }
